/* Hau adibide baten parte da */
/* Adibide hau oso ona da:          https://www.w3schools.com/html/tryit.asp?filename=tryhtml_lists_menu */

body {
    /*  https://www.w3schools.com/css/css_font.asp  */
    font: small;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(255, 255, 255);
}
h1 {
    border: 2px #eee solid;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding: 15px;
    background-color: #333333;
}
li {
    float: left;
    padding: 16px;
}
a{
    color: white;
    text-decoration: none;
}
input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    width: 500px;
    outline: none;
}
article.prompt{
    background-color: black;
    color: white;
}
input[type=text].prompt_input {
    background-color: black;
    color: white;
}



